<footer class="footer-20192">
  <div class="site-section">
    <div class="container">
      <div class="cta d-block d-md-flex align-items-center px-5">
        <div>
          <h2 class="mb-0">Ready for a next Trip?</h2>
          <h3 class="text-dark">Let's get started!</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <a href="#" class="footer-logo">Destination Dreams</a>
          <p class="copyright">
            <small>&copy; 2023</small>
          </p>
        </div>
        <div class="col-sm">
          <h3>Customers</h3>
          <ul class="list-unstyled links">
            <li><a href="#">Packages</a></li>
            <li><a href="#">Details</a></li>
          </ul>
        </div>
        <div class="col-sm">
          <h3>Company</h3>
          <ul class="list-unstyled links">
            <li><a href="#">About us</a></li>
            <!-- <li><a href="#">Careers</a></li> -->
            <li><a href="#">Contact us</a></li>
          </ul>
        </div>
        <div class="col-sm">
          <h3>Further Information</h3>
          <ul class="list-unstyled links">
            <li><a href="#">Terms &amp; Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3>Follow us</h3>
          <ul class="list-unstyled social">
            <li>
              <a href="#"
                ><span class="icon-facebook"
                  ><i class="fa-brands fa-facebook"></i></span
              ></a>
            </li>
            <li>
              <a href="#"
                ><span class="icon-twitter"
                  ><i class="fa-brands fa-twitter"></i></span
              ></a>
            </li>
            <li>
              <a href="#"
                ><span class="icon-linkedin"
                  ><i class="fa-brands fa-linkedin"></i></span
              ></a>
            </li>
            <li>
              <a href="#"
                ><span class="icon-paper-plane"
                  ><i class="fa-brands fa-instagram"></i></span
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
