* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
}
main {
  
  width: 100%;
}

#bnner {
  width: 100%;
}

main.container-fluid {
  padding: 0px !important;
}
#navbar {
  background: none;
  /* padding: 30px 0px; */
  z-index: 99;
  width: 100%;
  position: fixed;
}
.show-package {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: black;
  height: 100vh;
  width: 100%;
}
#navbar2 {
  width: 100%;
  position: fixed;
  background-color: blue;
  margin-bottom: 2.5rem;
}

#brand {
  padding: 0px 60px;
}

#banner-image {
  background-image: url("https://assets.wego.com/image/upload/c_fill,fl_lossy,q_auto:best,f_auto,w_2560/v1597920829/web/hero_images/in_1.jpg");
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)); */
  background-size: cover;
  background-position: center;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* padding: 180px 240px; */
  position: relative;
  color: white;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 45px;
  overflow: hidden;
  position: relative;
  top: 300px;
}
/* //navbar text size */
.textsize {
  font-weight: 600;
  font-size: 19px;
  color: black;
}

.img {
  height: 300px;
  width: 100%;
}

.packages {
  position: relative;
  top: 100vh;
}

.footer-b {
  height: 30vh;
  width: 100%;
  background-size: cover;
}

.footer {
  margin-top: auto;
}

.strip {
  background-color: rgb(255, 78, 107);
  width: 100%;
  height: 10vh;
  color: white;
  font-size: 30px;
  font-weight: 700;
  display: flex;

  align-items: center;
}

.strip-items {
  justify-content: center;
}

.footer-2 {
  height: 40vh;
  width: 100%;
  background-color: rgb(7, 7, 54);
}

@media screen and (max-width: 694px) {
  main{
    width: 688px;
  }
}
