* {
  margin: 0;
  padding: 0;
}

main {
  width: 100% !important;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#bnner {
  width: 100%;
}

main.container-fluid {
  padding: 0px !important;
}
#navbar {
  background: none;
  /* padding: 30px 0px; */
  z-index: 99;
  width: 100%;
  /* position: fixed; */
}

.packages {
  width: 100vw;
  height: 100%;
  position: relative;
  top: 100vh;
}

.show-package {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: black;
  height: 100vh;
  width: 100%;
}

#navbar2 {
  width: 100%;
  /* position: fixed; */
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(
      650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    ),
    radial-gradient(
      1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    );
  /* margin-bottom: 10rem; */
}

#brand {
  padding: 0px 60px;
}

#banner-image {
  background-image: url("https://img.freepik.com/free-photo/young-woman-hiker-taking-photo-with-smartphone-mountains-peak-winter_335224-427.jpg?w=996&t=st=1681030194~exp=1681030794~hmac=b6ee006803e91c85ca694dfa3263e3c0609507076df6de958dc6c3f4cb752c5f");
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)); */
  background-size: cover;
  background-position: center;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* padding: 180px 240px; */
  position: relative;
  color: black;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 45px;
  overflow: hidden;
  position: relative;
  top: 300px;
}
/* //navbar text size */
.textsize {
  font-weight: 600;
  font-size: 19px;
  color: black;
}

.img {
  height: 300px;
  width: 100%;
}

footer {
  position: inherit;
}

#pac{
  width: 100%;
  height: 100%;
  display: flex;
 justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  top:7%;
}

.sec{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec2{
  width: 50%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking{
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(
      650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    ),
    radial-gradient(
      1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    );
}

@media(max-width: 768px){ 
  .pac{
     flex-direction: column;
  }
 
  .sec{ 
     width: 100%;
  }
  .sec2{
     width: 100%;
  }
}