* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth !important;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  background-color: #ffffff;
}

#navbar {
  color: black;
  width: 100%;
  position: fixed;
  height: 50px;
}

.fadeee {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(0, 0, 0) 0%,
    rgb(38, 38, 38) 90.2%
  );
}

.packages {
  width: 100vw;
  height: 100%;
  /* position: relative;
  top: 20vh; */
}

.show-package {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffff;
  height: 100vh;
  width: 100%;
}

.caro {
  width: 100%;
  height: 100%;
}

#navbar2 {
  width: 100%;
  /* position: fixed; */
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(
      650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    ),
    radial-gradient(
      1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    );
  display: flex;
  flex-direction: column;
  height: 50px;
  /* margin-bottom: 10rem; */
}

#brand {
  padding: 0px 60px;
}

#banner-image {
  /* background: url("https://images.pexels.com/photos/730981/pexels-photo-730981.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); */
  background: url("../images/background.png");
  background-size: cover;
  background-position: center;
  color: #ffffff;
  height: 100vh;
  text-align: center;
  width: 100%;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffff;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 45px;
  overflow: hidden;
  position: relative;
  top: 300px;
}
/* //navbar text size */
.textsize {
  font-weight: 600;
  font-size: 19px;
  color: black;
}

.img {
  height: 300px;
  width: 100%;
}

.dev {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #000;
  margin: auto;
  flex-wrap: wrap;
}

#pac {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  top: 7%;
}

/* .sec {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec2 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.rev {
  height: 100%;
  width: 100%;
  margin-bottom: 100px;
}

.carr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
}
/* .carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 128px;
  margin: auto;
} */
.booking {
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(
      650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    ),
    radial-gradient(
      1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    );
}

.containerX {
  position: relative;
  height: 60vh;
  width: 600px;
  top: 60px;
  left: calc(50% - 300px);
  display: flex;
  align-items: center;
}

.card1 {
  display: flex;
  height: 280px;
  width: 600px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card1:not(:first-child) {
  margin-left: -50px;
}

.card1:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card1:hover ~ .card1 {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0, 154, 217);
  background: linear-gradient(
    90deg,
    rgba(0, 154, 217, 1) 0%,
    rgba(217, 147, 0, 1) 65%,
    rgba(255, 186, 0, 1) 100%
  );
  transition: 0.6s ease-out;
}

.card1:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}

.circle {
  position: absolute;
  top: 150px;
  left: calc(50% - 60px);
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #17141d;
  stroke-width: 2px;
}

.card1:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}

@media (max-width: 768px) {
  .pac {
    flex-direction: column;
  }

  .sec {
    width: 100%;
  }
  .sec2 {
    width: 100%;
  }
}

@media screen and (max-width: 1063px) {
  #banner-img {
    margin-left: -2.617924em;
    margin-right: -2.617924em;
    width: 100vw;
  }
}
